*{
    margin: 0px;
    padding: 0px;
    border: 0px;

}

header{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: green;
}

img#opa{
    width: 150px;
    border-radius: 20%;
    margin: 20px 50px 20px 0px;
}

h1#bao{
    color: black;
    font-size: 50px;
    font-family:'Silkscreen', cursive;
}

nav{
    background-color: black;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

li a{
    font-family:'Silkscreen', cursive;
    font-size: 30px;
    text-decoration: none;
    color: green;
    width: 100%;

}

li a:hover{
    color: white;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: green;
}
